<html>
<body>
<table>
<tr>
<th>DOCTOR'S NAME</th>
<th>SPECIALIST IN WHICH FIELD</th>
<th>CONTACT NUMBER</th>
    <th>MAIL</th>
 </tr>
 
                <tbody>
                  {% if data|length == 0 %}
                  <tr>
                    <td>No Data</td>
                    <td></td>
					<td></td>
                    <td></td>
					<td></td>
                  </tr>
                  {% else %}
                  <tr>
                      {% for row in data %}
                      <td>{{ row[0] }}</td>
                      <td>{{ row[1] }}</td>
                      <td>{{ row[2] }}</td>
                      <td>{{ row[3]}} </td>
                    </tr><tr>
    <td> <a href="mailto:{{ row[3] }}">
						<button type="button" class="btn btn-sm btn-primary btn-flat" title="Reply"><span class="glyphicon glyphicon-envelope"></span></button>
        </a></td></tr></tbody>
                      </table>
                      </body></html>